* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    color: #000;
    text-align: center;
    font-size: 72px;
}

#y {
    margin-top: 53px;
    color: #FF8000;
    text-align: center;
}

#main {
    width: 681px;
    margin-left: 67px;
}

h2 {
    font-size: 40px;
    color: #D9AE00;
    margin-top: 63px;
}

#yo {
    margin-top: 24px;
    font-size: 24px;
    color: #6D81B4;

}

#i {
    margin-top: 30px;
}

#ma {
width: 1007px;
padding: 64px;
background-color: #FFCEBE ;
margin-left: 74px;
margin-top: 101px;
}


#m {
    font-size: 40px;
    text-align: center;
    color: #F44E50;
    margin-top: 3px;
}

#yours {
    font-size: 20px;
    color: #8B2B2C;
    text-align: center;
}

#self {
    margin-top: 30px;
}

#sell {
    padding: 24px;
    width: 648px;
    margin-left: 74px;
}   

#string {
    text-align: right;
    color: #4716E4;
}

#sold {
    margin-top: 24px;
    padding: 24px;
    border: 3px solid #FF5DA3;
    background-color: #FFC1E3;
}

#seller {
    font-size: 24px;
    color: #616161;
    text-align: right;
}

#qur {
    margin-top: 30px;
    font-size: 24px;
    color: #414651;
}

#ul {
    margin-top: 16px;
    list-style-type: none;
}

#ul2 {
    color: #C27512;
    font-size: 16px;
    margin-top: 8px;
}

#li {
    margin-top: 30px;
}